.header-container {
    background-color: rgb(122, 196, 209);
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}
.head-container {
    height: 70px;
}
.head-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: wheat;
}
.logo-image {
    height: 100%;
    width: 70px;
    padding-right: 200px;
    padding-bottom: 10px;
    object-fit: contain;
}
.head-items li {
    list-style: none;
    font-size: 20px;
}
.head-items a {
    text-decoration: none;
    color: white;
    transition: 1s;
}
.head-items a:hover {
    color:black;
}
.vi-bg {
    width: 100%;
}
h2 {
    text-align: center;
}
.end {
    background-color: rgb(122, 196, 209);
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color:aliceblue;
}
button {
    background-color: rgb(64, 126, 219);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color:aliceblue;
    gap:10px;
    margin-left: 700px;
    margin-bottom: 10px;
    height:35px
}