.login {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}
.login-page {
    height: 100vx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    background-image: url("https://images3.alphacoders.com/125/1251357.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.data {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.but {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}
.data input {
    border: none;
    border-radius: 5px;
    font: bolder;
    height: 25px;
}
.data label {
    color: #e9e9e2;
    font-family:'Times New Roman', Times, serif;
    font-style: bolder;
}
h3 {
    color: rgb(236, 236, 234);
}