.login {
    height: 500px;
    width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}
.login-page {
    height: 100vx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/367/236/small_2x/blood-donor-day-3d-vector-animation-of-giving-blood-to-save-lives-hands-donating-blood-video.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.data {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.but {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}
.data input {
    border: none;
    border-radius: 5px;
    font: bolder;
    height: 25px;
}
.data label {
    color: #e9e9e2;
    font-family:'Times New Roman', Times, serif;
    font-style: bolder;
}
h3 {
    color: rgb(236, 236, 234);
}