.signup {
    height: 500px;
    width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.signup-page {
    height: 100vx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    background-image: url("https://t4.ftcdn.net/jpg/03/34/01/99/360_F_334019977_A4Oooxbf0NfWpOM21Jz2OHgF4iP9mu4n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.data {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.but {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}
.data input {
    border: none;
    border-radius: 5px;
    font: bolder;
    height: 25px;
    border:2px solid black;
}
.data label {
    color: black;
    font-family: Arial;
}
